@font-face {
    font-family: "Syne Mono";
    src: url("./static/fonts/SyneMono-Regular.ttf") format("woff2");
    font-display: swap;
}

.border-corners {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 2em inset tan;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 4em;
    z-index: -1;
}

.border-edges {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 2em inset tan;
    z-index: -1;
}

body {
    text-align: center;
    font-family: 'Syne Mono', 'Monospace';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./static/images/background-tileable.jpg');
    color: #0f0;
}

body, html, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

.container {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 100%;
    max-width: calc(100% - 4em);
    max-height: calc(100% - 4em);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 2em;
    left: 2em;
    border-radius: 2em;
}

code {
    font-family: 'Syne Mono', monospace;
}

canvas {
  image-rendering: -moz-crisp-edges;    /* Firefox */
  image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
  image-rendering: pixelated;           /* Chrome */
}
